<div class="wrapper">
  <form>
    <h1>Faça seu login.</h1>
    <label>
      Email
      <input type="email" name="email" placeholder="email@email.com">
    </label>
    <label>
      Password
      <input type="password" name="password" placeholder="******">
    </label>
    <span>
      Esqueci a senha
    </span>
    <button>Entrar</button>
    <a>Criar Conta</a>
    <ul>
      <li>
        <img src="https://static-00.iconduck.com/assets.00/google-icon-2048x2048-czn3g8x8.png" alt="Google">
      </li>
    </ul>
  </form>
</div>
